
.app{
  margin-top: 20px;
}


.user-image {
  max-width: 60px;
  max-height: 60px;
}

.thumbnail {
  text-align: center;
  padding: 2rem 1rem;
}


.userDetail td{
  padding-left:0;
  text-align:left;
}

.toolbar {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .btn {
    margin-right: 1rem;
  }
}




.user-list {


  tbody tr {
    cursor: pointer;

    transition: background-color 100ms;
    &:hover {
      background-color: #5fa8ee;
    }
  }
thead th{
  border:none;


}
  td{
    border:none;

  }
}

.rc-intro {
  background-color: #222;
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.rc-img {
  display: inline-block;
  max-width: 50px;
  margin: 0;
}

.rc-title {
  font-size: 5rem;
  margin-top: 3rem;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 700;
  letter-spacing: -2px;
}

.rc-description {
  margin-top: 2rem;
  font-size: 2rem;
  color: #ccc;
}
